/* Custom button
-------------------------------------------------- */

/* Override base .btn styles */
/* Apply text and background changes to three key states: default, hover, and active (click). */
.accordion-group0{background-color:  #ea3b13;}/* 燃やす */
.accordion-group1{background-color:  #733b96;}/* 燃やさない */
.accordion-group2{background-color:  #77ae1f;}/* 資源 */
.accordion-group3{background-color:  #2dc7aa;}/* びん */

.accordion-toggle{color:#ffffff;height: 120px;}

.accordion-toggle-top{color:#000000;height: 22px;}
.accordion-group-top{background-color:  #ffffff;}

.accordion-inner ul {color:#ffffff;}
.date {float:left;margin-top: 30px;} 