/* Custom button
-------------------------------------------------- */
body {
    font-family: ".HiraKakuInterface-W1", 'Lucida Grande',
    'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',
    Meiryo, メイリオ, sans-serif;
}

/* Override base .btn styles */
/* Apply text and background changes to three key states: default, hover, and active (click). */
/*#accordion-group0{background-color:  #733b96;}*//* 燃やす */
/*#accordion-group1{background-color:  #77ae1f;}*//* 燃やさない */
/*#accordion-group2{background-color:  #ea3b13;}*//* 資源 */
/*#accordion-group3{background-color:  #2dc7aa;}*//* びん */

#accordion a, #accordion a:hover {
    color: white;
    text-decoration: none;
}

.accordion-group {
    margin-bottom: 0;
    border: 0;
    border-radius: 0
}

#accordion3
a.accordion-toggle-top {
    margin: 0;
    text-align: left;
    font-size: 25px;
    margin: 15px 0 15px 15px;

}

#accordion3 h2 {
    font-size: 25px;
    margin-top: 40px;
}

#accordion3 #cfi {
    border-top: 1px solid black;
}

#accordion3 #cfk {
    border-top: 1px solid black;
}

#accordion3 h3 {
    font-weight: bold;
    font-size: 16px;
    margin-top: 15px;
}


#accordion3 #caption {
    font-size: 12px;
    color: #7F7F7F;
    margin-top: 30px;
}

#accordion3 #caption h4 {
    font-size: 12px;
    font-weight: bold;
}

a.accordion-toggle-top {
    color: #000000;
    height: 22px;
    text-align: center;
    margin: 0 auto;
    display: block;
    font-size: 16px;
}

a.accordion-toggle-top:hover {
    color: #000000;

}

.accordion-group-top {
    background-color: #ffffff;
}

.accordion-inner ul {
    color: white;
}

#accordion .accordion-inner h3 {
    color: white;
}

#accordion2 {
    display: none;
}

#accordion2 .accordion-inner {
    text-align: center
}

.date {
}

#gps_area {
    margin-top: 5px;
}

.left-day {
    font-size: 1.5em;
    color: white;
    position: absolute;
    padding-left: 10px;
}

.accordion-heading .accordion-table {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 80%;
    font-size: 22px;
    /*font-weight: bold;*/

}

.accordion-heading .accordion-toggle {
    position: relative;
    display: table;
    padding: 0;
    width: 100%;
    height: 119px;
}

.accordion-group h6 {
    position: absolute;
    bottom: 0px;
    left: 10px;
    margin: 0;
}

.initials {
    color: #ffffff;
}

.note {
    font-size: 10px;
}

#help {
    margin-left: 5px;
}

#select_area_title {
    text-align: center;
    font-size: 20px;
}